

<div *ngIf="!shareService.showMenusTables" >
    <form (ngSubmit)="onSubmit()">
        <div>
          <label for="email">Email:</label>
          <input type="email" [(ngModel)]="email" name="email" required>
        </div>
        <div>
          <label for="password">Mot de passe:</label>
          <input type="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit">Se connecter</button>
      </form>
      <div *ngIf="loginError" style="color: red;">
        Email ou mot de passe incorrect.
      </div>
      <br>
      <br>
      Pour tester 2 types de users : 
      <button (click)="setEmailAdmin()">
         Admin
      </button>
      <button (click)="setEmailUser()">
        User
     </button>
    pass aa 
</div>

