<div class="centered-div"  >
  <button (click)="router.navigate(['/'])">Dashbord</button>
</div>

<hr>

<nav>
  <button *ngIf="authService.getCurrentUser(); else loginButton"
    (click)="showInfosUserConnected = !showInfosUserConnected">
    {{ authService.getCurrentUser()?.my_email }}
  </button>
  <ng-template #loginButton>
   <!--  <h3>Se Loguer : </h3> -->
   <!-- <a routerLink="/">Se loguer</a> -->
  </ng-template>
  <div *ngIf="showInfosUserConnected" class="infos_login">
    <div>
      <h3>
        {{authService.getCurrentUser()?.nom}} : 
        {{authService.getCurrentUser()?.profile}}
      </h3>
    </div>
    <hr>
    <button (click)="logout()">Logout</button>
  </div>
</nav>

<br>

<div class="centered-div" *ngIf="authService.isLoggedIn()">
  <button  (click)="router.navigate(['/users'])" >
    Users
  </button>
  <button  (click)="router.navigate(['/usersFilterExcel'])" >
    Users Filter Excel 
  </button>
</div>


<!-- Ce router-outlet affichera les composants routés -->
<router-outlet></router-outlet>