/* Boutons d'actions dans la table */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    /* Taille ajustée pour plus de confort */
    border-radius: 20px;
    /* Arrondi des boutons */
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2px;
}

/* Style des inputs de filtrage */
input[type="text"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style de la table */
table {
    margin: 0 auto;
    /* Centre la table horizontalement */
    border-collapse: collapse;
    /* Supprime les espaces entre les cellules */
    width: 95%;
    /* Ajuste la largeur de la table selon tes besoins */

}

/* Style pour l'en-tête de la table */
table thead {
    background-color: #4CAF50;
    color: white;
    position: sticky;
    /* Garder l'en-tête en place */
    top: 0;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    width: 100px;
    /* Largeur par défaut pour toutes les colonnes */
    white-space: normal;
    /* Permet au texte de sauter à la ligne */
    word-wrap: break-word;
    /* Casse les lignes au besoin */
    word-break: break-word;
    /* Casse les mots longs si nécessaire */
}

table th {
    border-bottom: 2px solid #ddd;
}

/* Limiter la hauteur du tbody et ajouter l'ascenseur */
tbody {
    display: block;
    max-height: 200px;
    overflow-y: auto;
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}



/* Style pour le corps de la table */
table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}


.panel_flotant {
    position: absolute;
    /*  top: 20px; */
    /* Distance depuis le haut de son parent */
    /* left: 20px;  */
    /* Distance depuis la gauche de son parent */
    /* height: 100px; */
    color: black;
    border: 2px solid black;
    z-index: 1000;

    padding: 20px;
    width: 300px;
    /* Largeur du conteneur */
    background-color: #f9f9f9;
    /* Fond léger */
    border-radius: 8px;
    /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Légère ombre pour l'effet de profondeur */
    margin: 0 auto;
    /* Centrer horizontalement */
    text-align: left;
    /* Alignement du texte à gauche */

}

.panel_menu {
    width: 100%;
    /* height: 50px; */
    display: flex;
    background-color: #f0f0f0;
    overflow: hidden; /* Pour forcer le conteneur à contenir les flottants */
    background-color: lightgreen;
}

.panel_menu h1 {
    margin: 0;
}

.right {
    float: right;
    width: 50%; /* Ajustez la largeur si nécessaire */
    /* background-color: lightgreen; */

    display: flex;
    justify-content: flex-end;
    /* Aligne tous les éléments enfants à droite */
    gap: 10px;
    /* Espace entre les éléments */
    /* border: 2px solid black; */
}

.left {
    float: left;
    width: 50%; /* Ajustez la largeur si nécessaire */
    /* background-color: lightblue; */

    display: flex;
    justify-content: flex-start;
    /* Aligne tous les éléments enfants à droite */
    gap: 10px;
    /* Espace entre les éléments */
    /* border: 2px solid black; */
}

.login {
    color: black;
    border: 2px solid black;

    padding: 20px;
    /*  width: 300px; */
    /* Largeur du conteneur */
    background-color: #f9f9f9;
    /* Fond léger */
    border-radius: 8px;
    /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Légère ombre pour l'effet de profondeur */
    margin: 0 auto;
    /* Centrer horizontalement */
    text-align: left;
    /* Alignement du texte à gauche */

}


.infos_login {
    position: absolute;
    top: 50px;
    /* Distance depuis le haut de son parent */
    left: 10px;
    /* Distance depuis la gauche de son parent */
    /* height: 100px; */
    color: black;
    border: 2px solid black;
    z-index: 1000;

    padding: 20px;
    width: 300px;
    /* Largeur du conteneur */
    background-color: #f9f9f9;
    /* Fond léger */
    border-radius: 8px;
    /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Légère ombre pour l'effet de profondeur */
    margin: 0 auto;
    /* Centrer horizontalement */
    text-align: left;
    /* Alignement du texte à gauche */

}
