<div *ngIf="authService.isLoggedIn()">
    <div class="button_container">
        <button (click)="showPanelExport = !showPanelExport" class="button_export" >
            Exporter
        </button>
        <div class="panel_flotant export_positions" *ngIf="showPanelExport" >
           <!--  <h3>Exporter en format:</h3> -->
            <label>
                <input type="radio" name="exportType" [(ngModel)]="exportType" value="csv">
                CSV
            </label>
            <br>
            <label>
                <input type="radio" name="exportType" [(ngModel)]="exportType" value="xlsx">
                XLSX
            </label>
            <br>

            <button (click)="export()">Exporter</button>
        </div>

        <!-- <br> -->

        <button (click)="showPanelImport = !showPanelImport">
            Importer
        </button>

        <div class="panel_flotant import_positions" *ngIf="showPanelImport">
            <!-- <h3>Importer en mode: </h3> -->
            <div>
                <label>
                    incrémental
                    <input type="radio" name="importType" [(ngModel)]="importType" value="incremental">
                </label>
                <br>
                <label>
                    complet
                    <input type="radio" name="importType" [(ngModel)]="importType" value="full">
                </label>
            </div>

            <br>

            <!-- Section pour importer le fichier -->
            <div>
                <label for="fileInput">Importer fichier CSV ou Excel :</label>
                <input type="file" (change)="onFileChange($event)" id="fileInput" accept=".csv, .xlsx" />
            </div>

        </div>

    </div>
    <table class="table-container">
        <thead>
            <tr>
                <th>
                    Nom<br>
                    <input type="text" [(ngModel)]="nomFilter" placeholder="Filtrer par nom">
                </th>
                <th>
                    Email<br>
                    <input type="text" [(ngModel)]="my_emailFilter" placeholder="Filtrer par email">
                </th>
                <th>
                    Password<br>
                    <input type="text" [(ngModel)]="passwordFilter" placeholder="Filtrer par password">
                </th>
                <th>
                    Âge<br>
                    <input type="text" [(ngModel)]="ageFilter" placeholder="Filtrer par âge">
                </th>
                <th>
                    Date de naissance<br>
                    <input type="text" [(ngModel)]="dateNaissFilter" placeholder="Filtrer par date">
                </th>
                <th>
                    Profile<br>
                    <input type="text" [(ngModel)]="profileFilter" placeholder="Filtrer par profile">
                </th>
                <th *ngIf="showActions()">Actions</th>
            </tr>
        </thead>
        <tbody class="tbody-container">
            <tr *ngFor="let user of filteredUsers; let i = index">
                <td>{{ user.nom }}</td>
                <td>{{ user.my_email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.date_naiss }}</td>
                <td>{{ user.profile }}</td>
                <td *ngIf="showActions()">
                    <button (click)="editUser(i)">Modif</button>
                    <button (click)="deleteUser(i)">Suppr</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<div class="table-form" *ngIf="authService.isLoggedIn() && showActions() && showFormEdit() ">
    <div class="form-entete">
        <div class="right">
            <button (click)="closeFormEdit()" >X</button>
        </div>
    </div>
    <form (ngSubmit)="saveUser()">
        <input type="text" [(ngModel)]="currentUser.nom" name="nom" placeholder="Nom" required>
        <input type="email" [(ngModel)]="currentUser.my_email" name="my_email" placeholder="Email" required>
        <input type="password" [(ngModel)]="currentUser.password" name="password" placeholder="password" required>
        <input type="number" [(ngModel)]="currentUser.age" name="age" placeholder="Âge" required>
        <input type="date" [(ngModel)]="currentUser.date_naiss" name="date_naiss" required>
        <br>

        <!-- Sélecteur de profil -->
        <select [(ngModel)]="currentUser.profile" name="profile" required>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>

        <br><br>

        <button type="submit">{{ editingIndex !== null ? 'Modifier utilisateur' : 'Ajouter utilisateur' }}</button>
    </form>

</div>