<div class="table-container">
    <div class="button-container">
        <button (click)="exportAsCSV()">Exporter en CSV</button>
        <button (click)="exportAsExcel()">Exporter en Excel</button>

        <div class="import-section">
            <label for="fileInput">Importer FULL CSV ou Excel :</label>
            <input type="file" (change)="onFileChange($event)" id="fileInput" accept=".csv, .xlsx" />
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    Nom<br>
                    <select [(ngModel)]="selectedNomFilter">
                        <option value="">Tous</option>
                        <option *ngFor="let nom of nomFilterValues" [value]="nom">{{ nom }}</option>
                    </select>
                </th>
                <th>
                    Email<br>
                    <select [(ngModel)]="selectedEmailFilter">
                        <option value="">Tous</option>
                        <option *ngFor="let email of emailFilterValues" [value]="email">{{ email }}</option>
                    </select>
                </th>
                <th>
                    Password<br>
                    <select [(ngModel)]="selectedPasswordFilter">
                        <option value="">Tous</option>
                        <option *ngFor="let password of passwordFilterValues" [value]="password">{{ password }}</option>
                    </select>
                </th>
                <th>
                    Âge<br>
                    <select [(ngModel)]="selectedAgeFilter">
                        <option value="">Tous</option>
                        <option *ngFor="let age of ageFilterValues" [value]="age">{{ age }}</option>
                    </select>
                </th>
                <th>
                    Date de naissance<br>
                    <select [(ngModel)]="selectedDateNaissFilter">
                        <option value="">Toutes</option>
                        <option *ngFor="let dateNaiss of dateNaissFilterValues" [value]="dateNaiss">{{ dateNaiss }}</option>
                    </select>
                </th>
                <th>
                    Profile<br>
                    <select [(ngModel)]="selectedProfileFilter">
                        <option value="">Tous</option>
                        <option *ngFor="let profile of profileFilterValues" [value]="profile">{{ profile }}</option>
                    </select>
                </th>
                <th *ngIf="showActions()">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUsers; let i = index">
                <td>{{ user.nom }}</td>
                <td>{{ user.my_email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.date_naiss }}</td>
                <td>{{ user.profile }}</td>
                <td *ngIf="showActions()">
                    <button (click)="editUser(i)">Modif</button> 
                    <button (click)="deleteUser(i)">Suppr</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
