.table-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre tout le contenu dans le container */
    max-height: 300px;   /* Limite la hauteur à 400px */
    overflow-y: auto;    /* Ajoute un ascenseur vertical si le contenu dépasse */
    /* width: 100%; */         /* (Optionnel) Vous pouvez spécifier la largeur */
  }

  .table-form {
    /* display: flex;
    flex-direction: column; */
    align-items: center; /* Centre tout le contenu dans le container */
    /* max-height: 400px; */   /* Limite la hauteur à 400px */
    overflow-y: auto;    /* Ajoute un ascenseur vertical si le contenu dépasse */
    /* width: 100%; */         /* (Optionnel) Vous pouvez spécifier la largeur */
    display: table;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  
  .button-container {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    margin-bottom: 20px; /* Espace entre les boutons et la table */
  }
  
  button {
    margin: 0 10px; /* Espace entre les boutons */
  }
  
  table {
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  input {
    width: 90%;
  }
  
  .export-options {
    display: flex;
    gap: 10px; /* Ajoute un espacement entre les boutons radio */
    align-items: center;
    border: 1px solid ;
  }
  
  .export-options label {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .export-options input[type="radio"] {
    margin-right: 5px; /* Petit espacement entre le bouton radio et le texte */
  }
  
  .import-section {
    display: flex;
    gap: 10px; /* Ajoute un espacement entre les boutons radio */
    align-items: center;
    border: 1px solid ;
  }
  
  .import-section label {
    font-size: 16px;
    margin-bottom: 5px; /* Espace entre le label et l'input */
  }
  
  .import-section input[type="file"] {
    padding: 5px; /* Ajoute un peu de padding autour de l'input */
    border: 1px solid #ccc; /* Bordure grise légère */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .import-section input[type="file"]:hover {
    border-color: #888; /* Changement de couleur de bordure au survol */
  }
  
  .import-section input[type="file"]::file-selector-button {
    background-color: #007bff; /* Bouton de sélection de fichier en bleu */
    color: white; /* Texte blanc sur le bouton */
    border: none; /* Retirer les bordures du bouton */
    padding: 5px 10px; /* Espacement à l'intérieur du bouton */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main */
  }
  
  .import-section input[type="file"]::file-selector-button:hover {
    background-color: #0056b3; /* Couleur du bouton au survol */
  }
  