<div class="table-container" *ngIf="authService.isLoggedIn()">
    <div class="button-container">
        <button (click)="exportAsCSV()">Exporter en CSV</button>
        <button (click)="exportAsExcel()">Exporter en Excel</button>

        <div class="import-section">
            <label for="fileInput">Importer FULL CSV ou Excel :</label>
            <input type="file" (change)="onFileChange($event)" id="fileInput" accept=".csv, .xlsx" />
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    Nom<br>
                    <input type="text" [(ngModel)]="nomFilter" placeholder="Filtrer par nom">
                </th>
                <th>
                    Email<br>
                    <input type="text" [(ngModel)]="my_emailFilter" placeholder="Filtrer par email">
                </th>
                <th>
                    Password<br>
                    <input type="text" [(ngModel)]="passwordFilter" placeholder="Filtrer par password">
                </th>
                <th>
                    Âge<br>
                    <input type="text" [(ngModel)]="ageFilter" placeholder="Filtrer par âge">
                </th>
                <th>
                    Date de naissance<br>
                    <input type="text" [(ngModel)]="dateNaissFilter" placeholder="Filtrer par date">
                </th>
                <th>
                    Profile<br>
                    <input type="text" [(ngModel)]="profileFilter" placeholder="Filtrer par profile">
                </th>
                <th *ngIf="showActions()" >Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUsers; let i = index">
                <td>{{ user.nom }}</td>
                <td>{{ user.my_email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.date_naiss }}</td>
                <td>{{ user.profile }}</td>
                <td *ngIf="showActions()">
                    <button (click)="editUser(i)">Modif</button> 
                    <button (click)="deleteUser(i)">Suppr</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<div class="table-form" *ngIf="authService.isLoggedIn() && showActions()">
    <form (ngSubmit)="saveUser()">
        <input type="text" [(ngModel)]="currentUser.nom" name="nom" placeholder="Nom" required>
        <input type="email" [(ngModel)]="currentUser.my_email" name="my_email" placeholder="Email" required>
        <input type="password" [(ngModel)]="currentUser.password" name="password" placeholder="password" required>
        <input type="number" [(ngModel)]="currentUser.age" name="age" placeholder="Âge" required>
        <input type="date" [(ngModel)]="currentUser.date_naiss" name="date_naiss" required>
        <br>
        
        <!-- Sélecteur de profil -->
        <select [(ngModel)]="currentUser.profile" name="profile" required>
          <option value="Admin">Admin</option>
          <option value="User">User</option>
        </select>

        <br><br>
      
        <button type="submit">{{ editingIndex !== null ? 'Modifier utilisateur' : 'Ajouter utilisateur' }}</button>
      </form>

</div>